.row.pb20.ml20.mr20
  .col-6
    != Cache.fetch("most_popular_section", ttl: 20) { render partial: 'most_popular_section' }
  .col-6
    != Cache.fetch("best_rated_section", ttl: 20) { render partial: 'best_rated_section' }


%footer.blog-footer
  %p Wszystkie prawa zastrzeżone © 2017 Projekt i realizacja: Adam Markowski
