.blog-masthead
  .container
    %nav
      = link_to 'Strona główna', root_url,
        class: "nav-link #{params[:controller] != 'static' ? 'active' : ''}"
      = link_to 'O nas', about_static_index_url,
        class: "nav-link #{params[:controller] == 'static' ? 'active' : ''}"

.blog-header
  .container
    %h1.blog-title The IT Blog
    %p.lead.blog-description
      Opisujemy świat IT w krzywym zwierciadle.
