.blog-masthead
  .container
    %nav
      = link_to 'Home', root_url, class: 'nav-link active'

.blog-header
  .container
    %h1.blog-title The Blog
    %p.lead.blog-description An example blog template built with Bootstrap.
