.col-sm-3.offset-sm-1.blog-sidebar
  .sidebar-module.sidebar-module-inset
    %h4 O nas
    %p
      Jesteśmy naprawdę spoko.
      = link_to 'Przeczytaj o nas', static_path(page: 'about')
  %sidebar-module
    %h4 Ja w internecie
    %ol.list-unstyled
      %li <a href="https://github.com/AdamMarkowski">GitHub</a>
      %li <a href="https://www.facebook.com/FlowReality">Facebook</a>
