.col-sm-3.offset-sm-1.blog-sidebar
  .sidebar-module.sidebar-module-inset
    %h4 O nas
    %p
      The IT Blog to siedmiu autorów piszących na tematy związane z szeroko pojętą branżą IT. Opisujemy, radzimy, recenzujemy narzędzia – wszystko, aby każdego dnia być coraz lepszym.
      .right= link_to 'Więcej o nas', page_path(page: 'about')
  %sidebar-module
    %h4 O nas w internecie
    %ol.list-unstyled
      %li
        %a{href: "https://github.com/AdamMarkowski"} GitHub
      %li
        %a{href: "https://www.facebook.com/FlowReality"} Facebook
